:root {
    --small-radius: 15px;
    --input-height: 2rem;

    --form-valid: rgba(20, 126, 20, 0.447);
    --form-invalid: rgba(225, 80, 80, 0.463);

    --dark-green: #4b4d26;
    --light-gree: #80916d;
    --blue: #7D8D86;
    --beige: #9b6a5b;
    --brown: #613a2b;
    --light-beige: #cbb397;
    --neon-pink: #F200FF;
    
}
// ===LOGIN AND SIGNUP PAGE===
// ===MOBILE FIRST===
body#login {
    background-color: var(--light-beige);
    display: flex;
    align-items: center;
    justify-content: center;
}

#registration-field {
    color: white;
    min-height: 500px;
    max-height: 500px;
    max-width: 300px;
    border: 2px solid var(--dark-green);
    border-radius: var(--small-radius);

    position: relative;
    // top: 20%;
    // right: 10%;
}

form {
    padding-left: 2rem;
}

h1 {
    margin: 4rem 0 0 0 !important;
    font-size: 2.5rem !important;
}

#welcome {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    width: 90%;
}

input:not([type='checkbox']) {
    background: none;

    border: 1px solid var(--dark-green);
    border-radius: 5px;
    height: var(--input-height);
    width: 90%;
    margin-top: 1rem;

    &::placeholder {
        color: white;
    }
}

input[type='checkbox'] {
    width: 1.5rem;
    height: 1.1rem;
    margin: .7rem .2rem 1.1rem -.1rem !important;
    margin-top: 1.1rem;

    cursor: pointer;
}

.entry-button {
    width: 90%;
    height: var(--input-height);
    margin-bottom: .6rem;
    
    border-radius: 7px;
    border: 1px solid var(--blue);

    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    background: linear-gradient(var(--blue), var(--light-beige));
}

.page-btn, #made-by a, #skip-link a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#or-container {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    margin-top: 1.3rem;

    div {
        width: 10rem;
        height: 1px;
    }
}
#left-line {
    background: linear-gradient(90deg, (var(--beige)), (var(--dark-green)));
}
#right-line {
    background: linear-gradient(90deg, (var(--dark-green)), (var(--beige)));
}

#skip-link {
    text-align: center;
    padding-right: 2rem;
    margin: 1rem 0px;
}

.foreground {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
}
.blue-bg {
    background-color: var(--blue);
    opacity: .45;
}
.beige-bg {
    background-color: var(--beige);
    opacity: .25;
}

#made-by {
    position: absolute;
    bottom: 0px;
    left: 20%;
}

.hidden {
    display: none;
}